/* General Reset */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

/* Login Page Styles */
.halaman-input {
  background-color: rgba(255, 255, 255, 1.0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.halaman-input .div {
  background-color: rgba(255, 255, 255, 1.0);
  background: linear-gradient(
    180deg,
    rgba(3, 2, 8, 1) 0%,
    rgba(74, 81, 162, 1) 100%
  );
  width: 390px;
  height: 844px;
  position: relative;
}

.halaman-input .overlap {
  position: absolute;
  width: 390px;
  height: 251px;
  top: 47px;
  left: 0;
}

.halaman-input .overlap-group {
  position: absolute;
  width: 390px;
  height: 251px;
  top: 0;
  left: 0;
}

.halaman-input .rectangle {
  position: absolute;
  width: 390px;
  height: 175px;
  top: 0;
  left: 0;
  background-color: #5457a8;
}

.halaman-input .PP {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 101px;
  left: 220px;
  object-fit: cover;
}

.halaman-input .text-wrapper {
  position: absolute;
  top: 190px;
  left: 27px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.halaman-input .text-wrapper-2 {
  position: absolute;
  top: 224px;
  left: 27px;
  font-family: "Lexend Deca-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.halaman-input .pen-to-square {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 195px;
  left: 157px;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}
.group-role {
  width: 38px;
  height: 38px;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  margin-left: 6px;
  display: inline-block;
}
.overlap-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
  margin-top: 10px;
}

.halaman-input .text-wrapper-3 {
  position: absolute;
  top: 368px;
  left: 27px;
  font-family: "Kaisei HarunoUmi-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.halaman-input .line {
  position: absolute;
  width: 265px;
  height: 1px;
  top: 382px;
  left: 97px;
  object-fit: cover;
}

.halaman-input .overlap-3,
.halaman-input .overlap-4,
.halaman-input .overlap-5 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #4a51a2;
  border-radius: 10px;
  border: 0.5px solid;
  border-color: #ffffff;
}

.halaman-input .overlap-3 { top: 422px; left: 27px; }
.halaman-input .overlap-4 { top: 422px; left: 145px; }
.halaman-input .overlap-5 { top: 422px; left: 263px; }

.halaman-input .text-wrapper-4,
.halaman-input .text-wrapper-6,
.halaman-input .text-wrapper-8 {
  position: absolute;
  top: 30px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.halaman-input .text-wrapper-4 { left: 38px; }
.halaman-input .text-wrapper-6 { left: 34px; }
.halaman-input .text-wrapper-8 { left: 46px; }

.halaman-input .text-wrapper-5,
.halaman-input .text-wrapper-7,
.halaman-input .text-wrapper-9 {
  position: absolute;
  top: 52px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.halaman-input .text-wrapper-5 { left: 30px; }
.halaman-input .text-wrapper-7 { left: 28px; }
.halaman-input .text-wrapper-9 { left: 38px; }

.pen-to-square {
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

/* 
=========== LOGIN.PHP =============
*/

.login-page{
  height: 100vh;
  background-color: #4A51A2;
}

#gradasi {
  height: 100vh;
  background: linear-gradient(to right, #4a51a200, #4a51a2a2, #4A51A2);
}

.pict-section {
  height: 100vh;
  background-image: url('img/Wallpaperfanny.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.fa-tiktok {
  color: #ffffff;
}

.btn-login-tiktok {
  border-radius: 25%;
  border-color: #ffffff;
  border-width: 1;
  background-color: rgba(0, 1, 14, 0.34);
}


